*
!.gitignore
!.themes/
!.themes/**
!.icons/
!.icons/**
!.bashrc
!.zshrc

!.local/
.local/**
!.local/share
.local/share/**

!.local/share/arcmenu
!.local/share/arcmenu/**
!.local/share/gnome-shell
!.local/share/gnome-shell/**
